<p id="notice"><%= notice %></p> 
<div class="header">
  <div class="header-left">
    <a  href="http://localhost:3000">Users</a>
    <a href="http://localhost:3000/microposts">Posts</a>
  </div>


   <div class="header-right">


    <a class="active" href="http://localhost:3000/static_pages/register">Signup</a>
    <a href="http://localhost:3000/static_pages/help">login</a>
  </div>
</div>
</header>
<div class="form">
<h1>Heading</h1>
<h2>we will be back soon</h2>
</div>